/*  
    Nombre: articulo.css
    Autor: Julio Tuozzo
    Función: Hoja de estilos.
    Fecha de creación: 26/05/2025.
    Ultima modificación: 30/05/2025.
*/

label {
    display: block;
    margin-top: 0.8em;
}

input[type="submit"],
input[type="button"] {
    margin-top: 24px;
}

p {
    text-align: left;
    margin-top: 0.8em;
    margin-bottom: 0.4em;
    border-radius: 12px;
    border: 1px solid #1f2124;
    padding: 0.4em;
}

#articulo {
    text-align: center;
    padding: 1em;
    background-color: #f0f0f0;
    font-size: 18px;
    line-height: 26px;
}

#articulo h1 {
    font-size: 2em;
    margin-top: 0.2em;
    margin-bottom: 0.1em;
}

#articulo h2 {
    font-size: 1.8em;
    margin-top: 0.2em;
    margin-bottom: 0.1em;
}

#precio {
    text-align: right;
}

#descripcion {
    width: 100%;
}

#nueva_foto {
    margin: 0;
    height: 32px;
    width: 32px;
    border: 0;
    cursor: pointer;
    background: url(../images/agregar.png) no-repeat left;
}

#hay_fotos {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

#encabezado {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#foto_comprador img {
    height: 30%;
    max-height: 200px;
    border: 2px solid #1f2124;
    border-radius: 12px;
}


.del_foto {
    height: 24px;
    width: 24px;
    border: 0;
    cursor: pointer;
    background: url(../images/eliminar.png) no-repeat left;
    margin: 0;
}

.foto {
    display: none;
    white-space: nowrap;
}

.ppal_side {
    font-weight: bold;
}

.nota {
    font-style: italic;
}

.hay_una_foto {
    padding-right: 0.8em;
    width: 30%;
    min-width: 280px;
    margin: auto;
}

.hay_una_foto img {
    border-radius: 12px;
    border: 1px solid #1f2124;
    width: 100%;
}

.select_foto img {
    width: 15%;
    min-width: 90px;
    cursor: pointer;
    border-radius: 6px;
    margin-right: 1em;
    margin-bottom: 0.1em;
    vertical-align: top;
}


.link {
    text-align: left;
    cursor: pointer;
    display: flex;
    align-items:center;
}

.vendido {
    font-size: 1.3em;
    font-weight: bold;
}
/* -----------------  Tablet y Desktop  ----------------- */

@media(min-width: 760px) {
    label {
        display: inline-block;
    }

    #articulo {
        font-size: 16px;
    }

    #descripcion {
        width: 70%;
    }

    #foto_comprador img {
        max-height: 350px;
    }


    .linea_1 {
        display: flex;
        column-gap: 35px;
    }

    .linea_2 {
        padding-top: 30px;
        text-align: left;
        display: flex;
        align-items: flex-start;
        column-gap: 20px;
    }

    .linea_2 label {
        margin-top: 0;
    }


    .hay_una_foto {
        width: 20%;
        min-width: 360px;
    }

}