/*  
    Nombre: articulo_list.css
    Autor: Julio Tuozzo
    Función: Hoja de estilos.
    Fecha de creación: 27/05/2025.
    Ultima modificación: 04/06/2025.
*/

h2 {
    padding: 0.5em 0 0 0.5em;
    font-size: 1.3em;
}

#list_articulos {
    padding: 1em;
    background-color: #ffffff;
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
}

.vendido {
    opacity: 65%;
}

.vendido h2 {
    margin: 0;
    padding: 0;
    font-size: 1.6em;
    font-weight: bold;
    color: #e00000;
    text-align: center;
    opacity: 100%;
}

.propietario:hover {
    box-shadow: 10px 10px 30px -2px rgba(0, 0, 0, 0.46);
    opacity: 60%;
    cursor:pointer;
}

.sin {
    text-align: center;
    margin: auto;
}

.sin img {
    width: 60%;
}

.sin h1 {
    font-size: 2.5em;
}

.un_articulo {
    padding: 0.8em;
    width: 30%;
    min-width: 280px;
    margin: auto;
    background-color: #ececec;
    border-radius: 12px;
}

.en_venta:hover {
    box-shadow: 10px 10px 30px -2px rgba(0, 0, 0, 0.46);
    opacity: 60%;
    cursor:pointer;
}

.un_articulo img {
    width: 100%;
    border-radius: 12px;
}

.titulo {
    text-align: center;
    font-size: 1.2em;
}

.precio {
    margin-top: 0.3em;
    text-align: center;
}

.link {
    padding: 0.6em;
    cursor: pointer;
    display: flex;
    align-items:center;
}

.cabecera {
    display: flex;
    justify-content: space-between;
    padding: 0.2em 0.4em 0 0;
    flex-wrap: wrap;
}

.seguir {
    margin-left: 0.4em;
    font-size: 0.9em;
    padding: 0 8px 0 8px;
}



.oculto {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0px);
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 15px;
  z-index: 2;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  border-radius: 12px;
  opacity: 95%;
}


/* -----------------  Tablet y Desktop  ----------------- */

@media(min-width: 760px) {
    
    h2 {
        font-size: 1.4em;
    }
    
    #list_articulos {
        font-size: 16px;
    }

    .un_articulo {
        width: 20%;
        min-width: 360px;
    }

    .sin h1 {
        font-size: 3em;
    }


}