/*  
    Nombre: articulo_list.css
    Autor: Julio Tuozzo
    Función: Hoja de estilos.
    Fecha de creación: 27/05/2025.
    Ultima modificación: 27/05/2025.
*/

#list_articulos {
    padding: 1em;
    background-color: #ffffff;
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
    gap: 0.7em;
}

.un_articulo {
    padding: 0.8em;
    width: 30%;
    min-width: 280px;
    margin: auto;
    background-color: #ececec;
    border-radius: 12px;
    text-decoration: none;
    color: black;
}

.un_articulo:hover {
    box-shadow: 10px 10px 30px -2px rgba(0, 0, 0, 0.46);
    opacity: 60%;
}

.un_articulo img {
    width: 100%;
    border-radius: 12px;
}

.titulo {
    text-align: center;
    font-size: 1.2em;
}

.precio {
    margin-top: 0.3em;
    text-align: center;
}

/* -----------------  Tablet y Desktop  ----------------- */

@media(min-width: 760px) {
    #list_articulos {
        font-size: 16px;
    }

    .un_articulo {
        width: 20%;
        min-width: 360px;
    }


}