/*  
    Nombre: articulo.css
    Autor: Julio Tuozzo
    Función: Hoja de estilos.
    Fecha de creación: 26/05/2025.
    Ultima modificación: 28/05/2025.
*/

label {
    display: block;
    margin-top: 0.8em;
}

input[type="submit"],
input[type="button"] {
    margin-top: 24px;
}

#articulo {
    text-align: center;
    padding: 1em;
    background-color: #f0f0f0;
    font-size: 18px;
    line-height: 26px;
}

#articulo h1 {
    font-size: 2em;
    margin-top: 0.2em;
    margin-bottom: 0.1em;
}

#articulo h2 {
    font-size: 1.8em;
    margin-top: 0.2em;
    margin-bottom: 0.1em;
}

#precio {
    text-align: right;
}

#descripcion {
    width: 100%;
}

#nueva_foto {
    height: 32px;
    width: 32px;
    border: 0;
    cursor: pointer;
    background: url(../images/agregar.png) no-repeat left;
}

.del_foto {
    height: 24px;
    width: 24px;
    border: 0;
    cursor: pointer;
    background: url(../images/eliminar.png) no-repeat left;
}

.foto {
    margin-top: 0.8em;
    display: none;
    white-space: nowrap;
}

.nota {
    font-style: italic;
}

.foto_principal {
    position: absolute;
    right: 25px;
    margin-top: 10px;
}



/* -----------------  Tablet y Desktop  ----------------- */

@media(min-width: 760px) {
    label {
        display: inline-block;
    }

    #articulo {
        font-size: 16px;
    }

    #descripcion {
        width: 70%;
    }


    .linea_1 {
        display: flex;
        column-gap: 25px;
    }

    .linea_2 {
        padding-top: 30px;
        text-align: left;
        display: flex;
        align-items: flex-start;
        column-gap: 20px;
    }

    .linea_2 label {
        margin-top: 0;
    }
}