/*  
    Nombre: articulo.css
    Autor: Julio Tuozzo
    Función: Hoja de estilos.
    Fecha de creación: 26/05/2025.
    Ultima modificación: 26/05/2025.
*/

label {
    display: block;
    margin-top: 0.8em;
}

input[type="submit"] {
    margin-top: 24px;
}

#articulo {
    text-align: center;
    padding: 2em;
    background-color: #f0f0f0;
    font-size: 18px;
    line-height: 26px;
}

#articulo h1 {
    font-size: 2em;
    margin-top: 0.3em;
}

#descripcion {
    width: 100%;
}

#nueva_foto {
    height: 24px;
    width: 24px;
    border: 0;
    cursor: pointer;
    background: url(../images/agregar.png) no-repeat left;
}

.foto {
    margin-top: 0.8em;
    display: none;
}

/* -----------------  Tablet y Desktop  ----------------- */

@media(min-width: 760px) {
    label {
        display: inline-block;
    }

    #articulo {
        font-size: 16px;
    }

}