/*  
    Nombre: cambiar_clave.css
    Autor: Julio Tuozzo
    Función: Hoja de estilos.
    Fecha de creación: 24/05/2025.
    Ultima modificación: 24/05/2025.
*/

label {
    display: block;
    margin-top: 1.5em;
}

input[type="submit"] {
    margin-top: 24px;
}

#cambiar_clave {
    text-align: center;
    padding: 2em;
    background-color: #f0f0f0;
    font-size: 18px;
    line-height: 26px;
}

#cambiar_clave h1 {
    font-size: 2em;
    margin-top: 0.5em;
}

#tips {
    font-size: 0.9em;
    font-style: italic;
}

.verifique {
    display: none;
}

/* -----------------  Tablet y Desktop  ----------------- */

@media(min-width: 760px) {

    #cambiar_clave {
        font-size: 16px;
    }

    .verifique {
        margin-top: 20px;
        display: block;
        font-style: italic;
        font-size: 0.9em;
    }

}