/*  
    Nombre: comprar.css
    Autor: Julio Tuozzo
    Función: Hoja de estilos.
    Fecha de creación: 31/05/2025.
    Ultima modificación: 31/05/2025.
*/

label {
    display: block;
    margin-top: 0.6em;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: #000;
}

#comprar {
    text-align: center;
    padding: 1em;
    background-color: #f0f0f0;
    font-size: 18px;
    line-height: 26px;
}

#comprar h2 {
    text-align: left;
    padding: 0.4em;
    line-height: 1.3em;
}

#comprar h3 {
    margin-top: 0.9em;
}

#comentarios {
    width: 100%;
}

img {
    margin-top: 2em;
    width: 90%;
    border: 2px solid #1f2124;
    border-radius: 12px;

}

.contenedor {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2em;
    justify-content: space-evenly;
}

.obligatorio {
    color: crimson;
}

.has_comprado
    {color: darkgreen;
     text-align: center;
    }

.volver {
    font-size: 1.6em;
    font-weight: bold;
    margin-top: 2em;
} 
/* -----------------  Tablet y Desktop  ----------------- */

@media(min-width: 760px) {
    label {
        display: inline-block;
    }

    #comprar {
        font-size: 16px;
    }

    img {
        width: 70%;
        max-width: 800px;
    }

    .formulario {
        text-align: left;
        width: 600px;
    }

    .comentarios {
        padding-top: 30px;
        text-align: left;
        display: flex;
        align-items: flex-start;
        column-gap: 20px;
    }

    .comentarios label {
        margin-top: 0;
    }

}