/*  
    Nombre: comprar.css
    Autor: Julio Tuozzo
    Función: Hoja de estilos.
    Fecha de creación: 31/05/2025.
    Ultima modificación: 31/05/2025.
*/


#comprar {
    text-align: center;
    padding: 1em;
    background-color: #f0f0f0;
    font-size: 18px;
    line-height: 26px;
}

#comprar h2 {
    text-align: left;
    padding: 0.4em;
    line-height: 1.3em;
}

img {
    margin-top: 2em;
    width: 90%;
}

.contenedor {
    display: flex;
    flex-wrap: wrap;

}

/* -----------------  Tablet y Desktop  ----------------- */

@media(min-width: 760px) {

    #comprar {
        font-size: 16px;
    }

    img {
        width: 70%;
        max-width: 800px;
    }

}