/*  Nombre: general.css
    Autor: Julio Tuozzo
    Función: Hoja de estilos general
    Fecha de creación: 17/05/2025.
    Ultima modificación: 19/05/2025.
*/

body {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 14px;
    color: black;
    background-color: white;
}

header
    {display:flex;
     background-color: #282828;
     padding: 5px;
    }

#logo
    {

    }