/*  
    Nombre: login.css
    Autor: Julio Tuozzo
    Función: Hoja de estilos.
    Fecha de creación: 20/05/2025.
    Ultima modificación: 23/05/2025.
*/

label {
    display: block;
    margin-top: 1.6em;
}

input[type="email"] {
    font-size: 16px;
}

input[type="submit"] {
    margin-top: 24px;
}

.verifique {
    display: none;
}

#login {
    text-align: center;
    padding: 2em;
    background-color: #f0f0f0;
    height: 100vh;
    font-size: 18px;
    line-height: 26px;
}

#login h1 {
    font-size: 2em;
    margin-top: 0.5em;
}

#login a {
    text-decoration: none;
    color: #000;
}

#me_olvide {
    cursor: pointer;
    margin-top: 30px;
    font-size: 1.4em;
}

#me_olvide img {
    width: 15%;
    max-width: 70px;
}

/* -----------------  Tablet y Desktop  ----------------- */

@media(min-width: 760px) {
    label {
        display: inline-block;
    }

    #login {
        font-size: 16px;
    }

    .verifique {
        display: block;
        font-style: italic;
        font-size: 0.9em;
    }

}