/*  Nombre: main.css
    Autor: Julio Tuozzo
    Función: Hoja de estilos general
    Fecha de creación: 17/05/2025.
    Ultima modificación: 25/05/2025.
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", Arial, sans-serif;
}

body {
    font-size: 16px;
    color: black;
    background-color: white;
}

input,
select,
textarea {
    border-radius: 5px;
    padding: 2px;
    background: #f5f5f5;
    border: 1px #666666 solid;
    font-size: 16px;
}

input[type="checkbox"] {
    width: 18px;
    height: 18px;
    background: Gainsboro;
}

header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: #282828;
    color: white;
    padding: 5px;
    width: 100%
}

#logo {
    width: 70%;
    margin: auto;
}

#saludo {
    display: none;
}

#barraNavUl {
    display: none;
}

#barraNavUl li {
    padding: 0.5em;
    border-top: 1px solid gray;
    margin: 0;
    font-size: large;
}

#barraNavUl.mostrar {
    z-index: 90;
    display: flex;
    flex-flow: column wrap;
    position: absolute;
    right: 0;
    background-color: #282828;
    color: white;
    top: 104px;
    width: 140px;
    text-align: center;
    padding: 0.5em;
    list-style-type: none;

}

#barraNavUl a {
    text-decoration: none;
    color: white
}

#burger-menu {
    padding: 10px;
    cursor: pointer;
}


.li_derecha {
    float: right;
    margin-right: 30px;
}

.st_error {
    background: LightSalmon;
    border: 1px red solid;
}

.error {
    text-align: center;
    background-color: #C94139;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 0.8em;
}


.boton {
    font-size: 18px;
    border-radius: 3px;
    color: white;
    background: #63676c;
    padding: 4px;
    transition: all 0.3s ease-out;
    font-weight: bold;
    cursor: pointer;
}

.boton:hover {
    color: #63676c;
    background: gainsboro;
}


/* -----------------  Tablet y Desktop  ----------------- */

@media(min-width: 760px) {

    header {
        display: block;
        width: 100%;
    }

    #logo {
        margin: auto;
        width: 20vw;
        max-width: 300px;
        height: auto;
    }

    .logo {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
    }

    #saludo {
        display: block;
        text-align: right;
        margin-right: 10px;
        margin-top: 10px;
        font-size: 1.4em;
        color: white;
    }
    #burger-menu {
        display: none;
    }

    #barraNavUl {
        display: block;
        margin: auto;
    }

    #barraNavUl li {
        transition: all 0.3s ease-out;
    }


    #barraNavUl li:hover {
        background-color: #63676c;
        color: gainsboro;
    }

    #barraNavUl li {
        display: inline-block;
        font-size: normal;
        border: none;
        margin: 0 1em;
        cursor: pointer;
    }
}