/*  Nombre: main.css
    Autor: Julio Tuozzo
    Función: Hoja de estilos general
    Fecha de creación: 17/05/2025.
    Ultima modificación: 20/05/2025.
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 14px;
    color: black;
    background-color: white;
}

header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: #282828;
    padding: 5px;
    width: 100%
}

#logo {
    width: 70%;
    margin: auto;
}

#barraNavUl {
    display: none;
}

#barraNavUl li {
    padding: 0.5em;
    border-top: 1px solid gray;
    margin: 0;
    font-size: large;
}

#barraNavUl.mostrar {
    z-index: 90;
    display: flex;
    flex-flow: column wrap;
    position: absolute;
    right: 0;
    background-color: #282828;
    color: white;
    top: 104px;
    width: 140px;
    text-align: center;
    padding: 0.5em;
    list-style-type: none;

}

#barraNavUl a {
    text-decoration: none;
    color: white
}

#burger-menu {
    padding: 10px;
    cursor: pointer;
}

.li_derecha {
    float: right;
    margin-right: 30px
}

.st_error {
  background: LightSalmon;
  border: 1px red solid;
}

.error {
  text-align: center;
  background-color: #C94139;
  color: white;
  padding: 5px;
  border-radius: 5px;
}


/* -----------------  Tablet y Desktop  ----------------- */

@media(min-width: 760px) {

    header {
        display: block;
        width: 100%;
    }

    #logo {
        width: 30%;
        max-width: 300px;
        margin: auto;
    }

    #burger-menu {
        display: none;
    }

    #barraNavUl {
        display: block;
        margin: auto;

    }

    #barraNavUl li {
        display: inline-block;
        font-size: normal;
        border: none;
        margin: 0 1em;
        cursor: pointer;
    }
}