/*  
    Nombre: me_olvide.css
    Autor: Julio Tuozzo
    Función: Hoja de estilos.
    Fecha de creación: 23/05/2025.
    Ultima modificación: 23/05/2025.
*/

label {
    display: block;
    margin-top: 1.6em;
}

input[type="email"] {
    font-size: 16px;
}

input[type="submit"] {
    margin-top: 24px;
    font-size: large;
}

p {
    margin-top: 30px;
}

#me_olvide {
    text-align: center;
    padding: 2em;
    background-color: #f0f0f0;
    height: 100vh;
    font-size: 18px;
    line-height: 26px;
}

#me_olvide h1 {
    font-size: 1.8em;
    margin-top: 0.5em;
}



/* -----------------  Tablet y Desktop  ----------------- */

@media(min-width: 760px) {
    label {
        display: inline-block;
    }

    #me_olvide {
        font-size: 16px;
    }


}