/*  
    Nombre: usuario.css
    Autor: Julio Tuozzo
    Función: Hoja de estilos.
    Fecha de creación: 24/05/2025.
    Ultima modificación: 13/06/2025.
*/

label {
    display: block;
    margin-top: 1.5em;
}

input[type="submit"] {
    margin-top: 2em;
}


#usuario {
    text-align: center;
    padding: 2em;
    background-color: #f0f0f0;
    font-size: 18px;
    line-height: 26px;
}

#usuario h1 {
    font-size: 2em;
    margin-top: 0.5em;
}

#usuario a {
    text-decoration: none;
    color: #000;
}

#cambiar_clave {
    font-weight: bold;
    margin-top: 1em;
}

.tips {
    font-size: 0.9em;
    font-style: italic;
}

.top_tips {
    margin-top: 1.2em;
    margin-bottom: -1.2em;
    line-height: 1.2em;
}
.usuario  {
    width: 100%;
    max-width: 440px;
}

.verifique {
    display: none;
}

.creado {
    font-size: 1.6em;
    font-weight: bold;
    margin-top: 1.6em;
    line-height: 1.2em;
    color: darkgreen;
}


/* -----------------  Tablet y Desktop  ----------------- */

@media(min-width: 760px) {
    label {
        display: inline-block;
    }

    #usuario {
        font-size: 16px;
    }

    .verifique {
        display: block;
        font-style: italic;
        font-size: 0.9em;
    }

}