/*  
    Nombre: ventas_list.css
    Autor: Julio Tuozzo
    Función: Hoja de estilos.
    Fecha de creación: 02/06/2025.
    Ultima modificación: 03/06/2025.
*/

h2 {
    padding: 0.5em 0 0 0.5em;
    font-size: 1.4em;
}

#list_ventas {
    padding: 0.5em;
    background-color: #ffffff;
    font-size: 18px;
}

.vendido {
    opacity: 65%;
}

.vendido h2 {
    margin: 0;
    padding: 0;
    font-size: 1.6em;
    font-weight: bold;
    color: #e00000;
    text-align: center;
    opacity: 100%;
}

.sin {
    text-align: center;
    margin: auto;
}

.sin img {
    width: 60%;
}

.sin h1 {
    font-size: 2.5em;
}

.renglon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 1em;
}

.comprador {
    text-align: left;
    width: 70%;
    padding: 1.2em;
}

.articulo {
    padding: 0.3em;
    width: 30%;
    min-width: 250px;
    margin: auto;
    background-color: #ececec;
    border-radius: 12px;
}

.articulo:hover {
    box-shadow: 10px 10px 30px -2px rgba(0, 0, 0, 0.46);
    opacity: 60%;
    cursor: pointer;
}

.articulo img {
    width: 100%;
    border-radius: 12px;
}

.titulo {
    text-align: center;
}

.precio {
    margin-top: 0.3em;
    text-align: center;
    font-size: 0.8em;
}

.link {
    padding: 0.6em;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.encabezado {
    display: flex;
}

.encabezado_h2 {
      width: 33%;
      min-width: 250px;
}

.un_comprador {
    margin-bottom: 0.6em;
}
/* -----------------  Tablet y Desktop  ----------------- */

@media(min-width: 760px) {
    #list_ventas {
        font-size: 16px;
        padding: 1em;
    }

    .articulo {
        width: 20%;
        min-width: 360px;
    }

.encabezado_h2 {
      width: 22%;
      min-width: 360px;
}

    .comprador {
        width: 80%;
    }

    .sin h1 {
        font-size: 3em;
    }


}